h1{
    color: blue;
}
h2{
    color: brown;
}
.event{
    border: 1px ;
    border-width: 200px;
    border-color: black;
    
}
body{
    background-color:pink;
}
img{
    width: 250px;
    height: 150px;
    
}